

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/


*{
    padding: 0;
    max-width: 0;
    box-sizing: border-box;
   
}

:root{
    --primary-text-color: #183b56 ;
    --secondary-text-color: #577592 ;
    --accent-color-dark: #1d69a3 ;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);

}
p{
    font-family: "roboto", sans-serif ;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}


a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #f3afff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

}
